@charset "UTF-8";

body {
  font-family: helvetica;
}

/* ------ header ------ */
.header {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: auto;

 &__title {
  font-size: 20px;
}

/* ------ menu ------ */
&__menu {
  list-style: none;
  display: flex;
}

&__menu-link {
  padding: 0px 10px;
}

}

@media screen and (max-width: 375px) {
  .header {
    width: 80%;
    flex-wrap: wrap;
  
    &__title, &__nav {
    width: 100%;
  }

  &__menu {
    justify-content: space-between;
  }

  &__menu-link {
    padding: 20px 0px;
  }
}
}
/* ------ top ------ */
.top {
  width: 100%;
  height: 500px;
  background-color: green;
  position:relative;
  margin-bottom: 30px;


&__title {
  position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   font-size: 1.7rem;
   color: #fff;
}
}

/* ------ service ------ */
.service {
  display:flex;
  flex-direction: column; 
  flex-wrap: wrap;
  gap:20px;
  align-content:center;
  width: 60%;
  margin: 70px auto;

 &__title{
  text-align: center;
  padding: 10px 0;
  padding-top: 20px;
  }

  &__subtitle{
  font-weight:bold;  
 } 
 
  &__subtitlediv{  
   display:flex;
   flex-direction: column;
   justify-content:center;
   align-items:center;
   background-color:#DDFFFF;
   width:100%;
   min-height:80px;
 }

 &__subtitlediv:nth-child(3){
 background-color: #FFFACD	;
}
 
 &__content{
    text-align: center;
 }
 }
	
@media (max-width: 480px) {
 .service{
   width:100%;  
 }
  }

/* -----------------------------
虫食いセクション ①
----------------------------- */

/* ------ details ------ */



/* -----------------------------
----------------------------- */

/* -----------------------------
虫食いセクション ②
----------------------------- */

/* ------ plan ------ */

.plan{
 margin-bottom:80px;


&__title{
 text-align: center;
 justify-content: center;
}

&__flex{
 display:flex;
 flex-wrap:wrap;
 justify-content:center;
 width:100%;
 gap:30px;
  
}

&__flexsub{ 
 display:flex;
 flex-direction: column;
 justify-content:center;
 width:15%;
   }

&__subtitle1{
  background-color: gray;
  color: white;
  text-align: center;
  width: 100%;
  line-height:40px;
  margin-top:5%;
  margin-bottom:5%;
 }

&__subtitle2{
  background-color: red;
  color: white;
  text-align: center;
  width:100%;
  line-height:40px;
  margin-top:5%;
  margin-bottom:5%;
     }

  &__subtitle3{
  background-color: blue;
  color: white;
  text-align: center;
  width:100%;
  line-height:40px;
  margin-top:5%;
  margin-bottom:5%;
   }
  
}


@media (max-width: 480px) {
.plan__flexsub {
    width: 100%;}}
  
/* -----------------------------
----------------------------- */

/* ------ footer ------ */

.footer {
  height: 70px;
  width: 100%;
  background-color: green;
}