
    /* --------------------------------------------------
    BASE
    -------------------------------------------------- */
    
    body {
      font-family: "Hiragino Kaku Gothic ProN", "Open Sans", Meiryo, sans-serif;
    }
    
    img {
      width: 100%;
    }
    
    /* --------------------------------------------------
    CUSTOM
    -------------------------------------------------- */
    
    .Main {
      background: url(../img/main.jpg) center center/cover no-repeat;
      height: 50vh;
      padding-bottom: 45%;
      position: relative;
      overflow: hidden;
    }
    
    
    .Main__title {
      color: #fff;
      position: absolute;
      top: 48%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 2;
      width: 100%;
    }
    
    .Main__subTitle {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    
    @media screen and (max-width: 600px) {
      .Main__subTitle {
        font-size: 4vw;
      }
    }
    
    .Main__mainTitle {
      font-size: 4rem;
    }
    
    @media screen and (max-width: 600px) {
      .Main__mainTitle {
        font-size: 10vw;
      }
    }
    
    .Header {
      width: 100%;
      position: absolute;
      z-index: 1;
    }
    
    .Header__inner {
      padding: 1.5rem 0 .5rem;
      width: 1200px;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    
    @media screen and (max-width: 1200px) {
      .Header__inner {
        width: 85%;
      }
    }
    
    .Header__title {
      color: #fff;
      font-size: 1.5rem;
    }
    
    .Header__sns {
      width: 30px;
      -webkit-transition: .2s, ease-in;
      -o-transition: .2s, ease-in;
      transition: .2s, ease-in;
    }
    
    .Header__sns:hover {
      opacity: .65;
    }
    
    .Section {
      padding: 10rem 0;
    }
    
    .Section__title {
      color: #5FC9B0;
      font-size: 3rem;
      text-align: center;
      position: relative; 
      margin: 0 auto 4rem;
    }
    
    .Section__title:before {
      content: '';
      position: absolute;
      bottom: -15px;
      display: inline-block;
      width: 60px;
      height: 5px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      background-color: #5FC9B0;
      border-radius: 2px;
    }
    
    .Section__memberName {
      font-size: 2rem;
      margin: 2rem 0;
      text-align: center;
    }
    
    /* --------------------------------------------------
    ABOUT
    -------------------------------------------------- */
    .About {
      background-color: #ffffff;
    }
    
    .About__inner {
      padding: 1.5rem 0 .5rem;
      width: 1200px;
      margin: 0 auto;
    }
    
    @media screen and (max-width: 1200px) {
      .About__inner {
        width: 85%;
      }
    }
    
    .About__message {
      color: #545A57;
      text-align: center;
      line-height: 3;
    }
    /* -----------------------------
    ----------------------------- */
    
    /* -----------------------------
    虫食いセクション ①
    ----------------------------- */
    
    /* --------------------------------------------------
    .SEMINAR
    -------------------------------------------------- */
    .Section_Seminar{
      background-color:#E6FFE9;
      padding-bottom:50px;
    }

    .Seminar_gridcontainer{
      display: grid;
      grid-template-columns: repeat(3,1fr) ;
      padding:0 10%;
      justify-items: center;
      gap:30px;
          }

     .Seminar_item{
      font-size: 1.8em;
      padding-top:20%;
      padding-left:4%;
      color:white;
      aspect-ratio: 7/6;
      width: 400px; 
      margin:0 auto; /*0は高さ方向余白を0にするの意。*/
         }

   @media screen and (max-width: 768px){
    .Seminar_gridcontainer {
    grid-template-columns: repeat(2,1fr);
    padding:0 5%;
    gap:30px;
    }
  
    .Seminar_item {
    width: 100%;  
      
    }
}
   /*できなかったところ（なぜか下記設定が適用されない）*/
   @media screen and (max-width:375px){
    .Seminar_gridcontainer {
    grid-template-columns: repeat(1,1fr);
    padding:0 5%;
    gap:0px;
    }
      .Seminar_item {
    width: 100%;  
       }
      }

    .Seminar_item:nth-child(1){
      background: url(../img/content1.png) center center/cover no-repeat;
      }
    .Seminar_item:nth-child(2){
      background: url(../img/content2.png) center center/cover no-repeat;
      }
    .Seminar_item:nth-child(3){
      background: url(../img/content3.png) center center/cover no-repeat;
      }
    .Seminar_item:nth-child(4){
      background: url(../img/content4.png) center center/cover no-repeat;
      }
    .Seminar_item:nth-child(5){
      background: url(../img/content5.png) center center/cover no-repeat;
      }
    /* -----------------------------
    ----------------------------- */
    
    /* -----------------------------
    虫食いセクション ②
    ----------------------------- */
    
    /* --------------------------------------------------
    GALLERY
    -------------------------------------------------- */
  
.Gallery { 
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7,1fr);
  padding-left:10%;
  padding-right:10%;
  padding-bottom:10%;
  gap:10px;
  
  
}
    img:nth-of-type(1){
    grid-column:1/2 ;
    grid-row:1/3;
    height: 100%;
    }
    img:nth-of-type(2){
    grid-column:2/3 ;
    grid-row:1/3;
    height: 100%;
    }
    img:nth-of-type(3){
    grid-column:3/5 ;
    grid-row:1/2;
    }
    img:nth-of-type(4){
    grid-column:5/7 ;
    grid-row:1/2;
    }
    img:nth-of-type(5){
    grid-column:7/8 ;
    grid-row:1/3;
    height: 100%;
        }
    img:nth-of-type(6){
    grid-column:1/3 ;
    grid-row:3/5;
    height: 100%;
    }
    img:nth-of-type(7){
    grid-column:3/5 ;
    grid-row:2/4;
    height: 100%;
    }
    img:nth-of-type(8){
    grid-column:5/7 ;
    grid-row:2/4;
    height: 100%;
    }
    img:nth-of-type(9){
    grid-column:7/8 ;
    grid-row:3/5;
    height: 100%;
    }
    img:nth-of-type(10){
    grid-column:1/3 ;
    grid-row:5/6;
    height: 100%;
    }
    img:nth-of-type(11){
    grid-column:3/4 ;
    grid-row:4/6;
    height: 100%;
    }
    img:nth-of-type(12){
    grid-column:4/6 ;
    grid-row:4/6;
    height: 100%;
    }
    img:nth-of-type(13){
    grid-column:6/7 ;
    grid-row:4/6;
    height: 100%;
    }
    img:nth-of-type(14){
    grid-column:7/8 ;
    grid-row:5/7;
    height: 100%;
    }
    img:nth-of-type(15){
    grid-column:1/3 ;
    grid-row:6/8;
    height: 100%;
    }
      img:nth-of-type(16){
    grid-column:3/4 ;
    grid-row:6/8;
    height: 100%;
    }

   @media screen and (max-width:768px){
    .Gallery { 
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(15,1fr);
    }
         
    img:nth-of-type(1){
    grid-column:1/2 ;
    grid-row:1/3;
    height: 100%;
    }
    img:nth-of-type(2){
    grid-column:2/3 ;
    grid-row:1/3;
    height: 100%;
    }
    img:nth-of-type(3){
    grid-column:3/4 ;
    grid-row:1/3;
    height: 100%;
    }
    img:nth-of-type(4){
    grid-column:1/3 ;
    grid-row:3/4;
    height: 100%;
    }
    img:nth-of-type(5){
    grid-column:1/3 ;
    grid-row:4/5;
    height: 100%;
        }
    img:nth-of-type(6){
    grid-column:3/4 ;
    grid-row:3/5;
    height: 100%;
    }
    img:nth-of-type(7){
    grid-column:1/3 ;
    grid-row:5/7;
    height: 100%;
    }
    img:nth-of-type(8){
    grid-column:3/4 ;
    grid-row:5/7;
    height: 100%;
    }
    img:nth-of-type(9){
    grid-column:1/3 ;
    grid-row:7/9;
    height: 100%;
    }
    img:nth-of-type(10){
    grid-column:3/4 ;
    grid-row:7/9;
    height: 100%;
    }
    img:nth-of-type(11){
    grid-column:1/3 ;
    grid-row:9/11;
    height: 100%;
    }
    img:nth-of-type(12){
    grid-column:3/4 ;
    grid-row:9/11;
    height: 100%;
    }
    img:nth-of-type(13){
    grid-column:1/3 ;
    grid-row:11/13;
    height: 100%;
    }
    img:nth-of-type(14){
    grid-column:3/4 ;
    grid-row:11/13;
    height: 100%;
    }
    img:nth-of-type(15){
    grid-column:1/3 ;
    grid-row:13/14;
    height: 100%;
    }
      img:nth-of-type(16){
    grid-column:1/3 ;
    grid-row:14/15;
    height: 100%;
    }

}




    /* -----------------------------
    ----------------------------- */
    
    /* --------------------------------------------------
    FOOTER
    -------------------------------------------------- */
    
    .Footer {
      background-color: #272E2B;
    }
    
    .Footer__inner {
      width: 1200px;
      margin: 0 auto;
      padding: 4rem 0;
    }
    
    @media screen and (max-width: 1200px) {
      .Footer__inner {
        width: 85%;
      }
    }
    
    .Footer__inner p {
      color: #fff;
      text-align: center;
    }
  